SECOND ASSIGNMENT

Data Types and Structures Questions

1. What are data structures, and why are they important?
  > data structure is way of organising, storing collection of data.
     a. aceesing and using  data will be easy
     b. operarion on data will be efficient.

2.  Explain the difference between mutable and immutable data types with    examples.
  >mututable datatype are those which can be changed in the original memory block. example- list,dictionary, set.  whereas Immutable datatype rae those which cannotbe be changeg in the original memory block.
  ex- int, str,

3. What are the main differences between lists and tuples in Python?
> list- mutable,other data structure can be stored in list whereas tuple- imutable, immutable data structure cannot be stored in a tuple.

4.  Describe how dictionaries store data
> dictionary stores data in key-value pairs.ex- dic={1:"ratul",2:"sourav"}

5.  Why might you use a set instead of a list in Python?
> set stores unique values so to stay away from duplicates we use set instead of list

6. What is a string in Python, and how is it different from a list.
> string is collection of letter or character and it is immutable where as list is mutable.

7.  How do tuples ensure data integrity in Python?
> once tuple is made then it cannot be changed in its origian memory block. if we try to change it through vlaue assignment through indexing python gives error.

8.  What is a hash table, and how does it relate to dictionaries in Python
> hsah table is a data structure that is used to store data in key value pairs.
-a pyton dictionary is internally made using hash table . each key is linked to position in memory and that position stores the value.

9. Can lists contain different data types in Python
> yes,list contains heterogenous datatype. ex- a= [1,1.2, True, 'sourav']

10.  Explain why strings are immutable in Python
> a= "hello" b= "hello" print(a is b) - this sharing works safely only because string cannot be modified.

11. What advantages do dictionaries offer over lists for certain tasks?
> a. each key in dictinary is unique so no confusion caused by dublicates. b. values in dict can be accesed using keys unlike list one must remember the index to acces the value

12.  Describe a scenario where using a tuple would be preferable over a list
> if i am writhing a program on location coordinates, student roll number and mark the keeping the data unchanged is important.

13.  How do sets handle duplicate values in Python?
> set just accept unique values in the collection of set.
ex- a= {1,1,2,2,3,3} print(a) output= {1,2,3}

14. How does the “in” keyword work differently for lists and dictionaries
> in list 'in' keyword finds- is mentioned value exist in the list or not whereas in dictionaries 'in' keyword finds- is mentioned key exist in key or not.

15. Can you modify the elements of a tuple? Explain why or why not?
> no, because tuple is immutable. this datastructure is suitable for unchangeable data

16.  What is a nested dictionary, and give an example of its use case?
> dictionary inside another dictionary is called nested dict. ex- a={1:"sourav",{2:"ratul"}}

18.  In what situations are lists preferred over dictionaries?
> when the data need to be stored only in values like students name in a classroom, shopping list from market

20. Explain the difference between a list and a dictionary in terms of data retrieval.
> at the time of data retrival from list, index and slicing method is used whereas key is used instead of indexing in dict

part- b

In [1]:
# 1.  Write a code to create a string with your name and print it
a= "sourav"
print(a)

sourav

In [2]:
# 2.Write a code to find the length of the string "Hello World"
a= "Hello World"
print(len(a))

11

In [4]:
# 3.  Write a code to slice the first 3 characters from the string "Python Programming"
a= "Python Programming"
a[0:3]

'Pyt'

In [7]:
# 4. Write a code to convert the string "hello" to uppercase
a= "hello"
print(a.upper())

HELLO

In [8]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
a= "I like apple"
print(a.replace("apple","orange"))

I like orange

In [9]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
a=[]
for i in range(1,6):
  a.append(i)
print(a)

[1, 2, 3, 4, 5]

In [14]:
# 7.  Write a code to append the number 10 to the list [1, 2, 3, 4]
a=[1, 2, 3, 4]
a.insert(1,10)
print(a)

[1, 10, 2, 3, 4]

In [15]:
# 8. Write a code to remove the number 3 from the list Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
a=[1, 2, 3, 4, 5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [16]:
# 9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
a=['a', 'b', 'c', 'd']
a[1]

'b'

In [17]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50].
a= [10, 20, 30, 40, 50]
a[::-1]

[50, 40, 30, 20, 10]

In [20]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
a=(100,200,300)
print(a)

(100, 200, 300)

In [21]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
a=('red', 'green', 'blue', 'yellow')
a[1:4]

('green', 'blue', 'yellow')

In [22]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
a=(10, 20, 5, 15)
print(min(a))

5

In [24]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
a=('dog', 'cat', 'rabbit')
a.index('cat')

1

In [25]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
a=("apple","kiwi","banana")
if "kiwi" in a:
  print("kiwi")

kiwi

In [26]:
# 16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
a={'a', 'b', 'c'}
print(a)

{'c', 'b', 'a'}

In [28]:
# 17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}
a={1, 2, 3, 4, 5}
a.clear()
print(a)

set()

In [29]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
a= {1, 2, 3, 4}
a.remove(4)
print(a)

{1, 2, 3}

In [31]:
# 19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a={1, 2, 3}
b={3, 4, 5}
print(a|b)

{1, 2, 3, 4, 5}

In [32]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a={1, 2, 3}
b= {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [34]:
#  21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
a={"name":"sourav", "age":24,"city":"kolkata"}
print(a)

{'name': 'sourav', 'age': 24, 'city': 'kolkata'}

In [35]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
a= {'name': 'John', 'age': 25}
a["country"]=25
print(a)

{'name': 'John', 'age': 25, 'country': 25}

In [36]:
#  23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
a={'name': 'Alice', 'age': 30}
a['name']

'Alice'

In [38]:
#  24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
a={'name': 'Bob', 'age': 22, 'city': 'New York'}
a.pop('age')
print(a)

{'name': 'Bob', 'city': 'New York'}

In [40]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
a={'name': 'Alice', 'city': 'Paris'}
if 'city' in a:
  print("true")

true

In [42]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all
a=[1,2,3,4,4]
b=(1,2,3,4,4)
c={1:1,2:2,3:3,4:4}
print(a)
print(b)
print(c)

[1, 2, 3, 4, 4]
(1, 2, 3, 4, 4)
{1: 1, 2: 2, 3: 3, 4: 4}

In [43]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replaced)
a=[12,32,11,55,92]
a.sort()
print(a)

[11, 12, 32, 55, 92]

In [44]:
#28. Write a code to create a list with strings and print the element at the third index
a=['soursv','ratul','sonali','tapu','kalyan']
a[2]

'sonali'

In [49]:
#29. Write a code to combine two dictionaries into one and print the result
a={'name': 'Bob', 'age': 22, 'city': 'New York'}
b={1:1,2:2}
print(a,b)

{'name': 'Bob', 'age': 22, 'city': 'New York'} {1: 1, 2: 2}

In [53]:
# 30. Write a code to convert a list of strings into a set
a=set(['sourav','ratul','sonali'])
print(a)
print(type(a))

{'sourav', 'sonali', 'ratul'}
<class 'set'>